* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.app {
    padding: 10px;
}

.app .CityPlace {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}